In [1]:
#importing data
import pandas as pd
file_path = 'Credit Banking_Project - 1.xls' 
xls = pd.ExcelFile(file_path)
print(xls.sheet_names)

['Customer Acqusition', 'Spend', 'Repayment']

In [2]:
#creating data frames for each sheet
df_acquisition = pd.read_excel(xls, 'Customer Acqusition')
df_Spend =pd.read_excel(xls,'Spend')
df_Repayment=pd.read_excel(xls,'Repayment')

In [ ]:
import seaborn as sns 
import matplotlib.pyplot as plt
plt.figure(figsize=(8,5))
sns.histplot(df_acquisition['Age'],kde=True , bins=20,color='red', edgecolor='black')
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.grid(True)
plt.show()

In [ ]:
#treating age column
df_adults= df_acquisition[df_acquisition['Age']>=18]
print(df_adults)
df_minors = df_acquisition[df_acquisition['Age']<18]
print(df_minors)
mean_adult_age = df_adults['Age'].mean()
print(f"Mean age of adults: {mean_adult_age}")
df_minors['Age'] = mean_adult_age
df_acquisition.loc[df_acquisition['Age']<18,'Age']=mean_adult_age
print(df_acquisition['Age'].mean())

In [163]:
#montly spend of each customer
df_Spend['Month']=pd.to_datetime(df_Spend['Month'],format ='%d-%b-%y')
df_Spend['day']=df_Spend['Month'].dt.day
df_Spend['month']=df_Spend['Month'].dt.month
df_Spend['year']=df_Spend['Month'].dt.year
grouped = df_Spend.groupby(['Costomer', 'year', 'month'])['Amount'].sum().reset_index()
# grouped_df = grouped.apply(lambda x: x.reset_index(drop=True)).reset_index(drop=True)
print(grouped[['Costomer', 'year', 'month', 'Amount']])
#People in which segment are spending more money.
total_spent = grouped.groupby('Costomer')['Amount'].sum().reset_index()
top_1_customer = total_spent.sort_values(by='Amount', ascending=False).head(1)
df_acquisition = df_acquisition.rename(columns={'Customer': 'Costomer'})
merged_df = top_1_customer.merge(df_acquisition[['Costomer', 'Segment']], on='Costomer', how='left')
merged_df

    Costomer  year  month        Amount
0         A1  2004      1  1.511173e+06
1         A1  2004      2  4.138111e+04
2         A1  2004      5  1.311966e+05
3         A1  2005      1  3.984038e+05
4         A1  2005      2  1.404193e+06
..       ...   ...    ...           ...
802      A95  2004      1  3.478339e+05
803      A96  2004      1  3.203635e+05
804      A97  2004      1  1.643300e+05
805      A98  2004      1  8.748351e+04
806      A99  2004      1  4.760204e+05

[807 rows x 4 columns]

  Costomer        Amount        Segment
0      A22  9.637819e+06  Self Employed

In [3]:
#merging with Limit
df_acquisition = df_acquisition.rename(columns={'Customer': 'Costomer'})
merged_df = grouped.merge(df_acquisition[['Costomer', 'Limit']], on='Costomer', how='left')
print(merged_df)
#Comparing limit and monthly spent of customer
print("customer who have spent more than his/her Credit Limit for any particular month")
over_limit = merged_df[merged_df['Amount'] > merged_df['Limit']]
customers_over_limit = over_limit['Costomer'].unique()
customers_over_limit

NameError: name 'grouped' is not defined

In [164]:
#Monthly Repayment of each Costomer 
df_Repayment['month']=df_Repayment['Month'].dt.month
df_Repayment['year']=df_Repayment['Month'].dt.year
grouped=df_Repayment.groupby(['Costomer','month','year'])['Amount'].sum().reset_index()
print(grouped[['Costomer','year','month','Amount']])
#HIghest paying 10 customers
total_repayment = grouped.groupby('Costomer')['Amount'].sum().reset_index()
top_10_customers = total_repayment.sort_values(by='Amount', ascending=False).head(10)
top_10_customers

    Costomer  year  month        Amount
0         A1  2004      1  1.362775e+06
1         A1  2005      1  1.581970e+03
2         A1  2004      2  1.911800e+05
3         A1  2005      2  1.199808e+06
4         A1  2006      4  3.712733e+05
..       ...   ...    ...           ...
793      A95  2004      1  7.510949e+04
794      A96  2004      1  1.101390e+05
795      A97  2004      1  1.746064e+05
796      A98  2004      1  9.780260e+04
797      A99  2004      1  3.585899e+05

[798 rows x 4 columns]

   Costomer        Amount
15      A22  9.767171e+06
57      A60  9.262032e+06
58      A61  8.807888e+06
35      A40  8.805085e+06
42      A47  8.529826e+06
38      A43  8.458621e+06
43      A48  8.432804e+06
36      A41  8.374046e+06
44      A49  8.259841e+06
40      A45  8.115210e+06

In [165]:
#in which age group people are spending more money
df_acquisition = df_acquisition.rename(columns={'Customer': 'Costomer'})
merged_df = pd.merge(df_acquisition, df_Spend, left_on='Costomer', right_on='Costomer', how='inner')

merged_df['age_group'] = pd.cut(merged_df['Age'],
                                 bins=[-float('inf'), 18, 30, 40, float('inf')],
                                 labels=['Under 18', '18-29', '30-39', '40 and above'],
                                 right=False)
merged_df[['Costomer','age_group','Amount']]
grouped = merged_df.groupby('age_group')['Amount'].sum().reset_index()
grouped = grouped.sort_values(by='Amount', ascending=False).reset_index(drop=True)
value = grouped.loc[0, 'age_group']
print("the highest spending age group is---- ", value)

the highest spending age group is----  40 and above

In [139]:
spend_merged = pd.merge(df_acquisition[['Costomer', 'Segment']], df_Spend, on='Costomer', how='inner')
repay_merged = pd.merge(df_acquisition[['Costomer', 'Segment']], df_Repayment, on='Costomer', how='inner')

spend_by_segment = spend_merged.groupby('Segment')['Amount'].sum().reset_index(name='Total_Spend')
repay_by_segment = repay_merged.groupby('Segment')['Amount'].sum().reset_index(name='Total_Repayment')

profit_df = pd.merge(spend_by_segment, repay_by_segment, on='Segment')
profit_df['Profit'] = profit_df['Total_Repayment'] - profit_df['Total_Spend']
most_profitable = profit_df.sort_values(by='Profit', ascending=False).reset_index(drop=True)
print(most_profitable)
value=most_profitable.loc[0,'Segment']
print("the mose profitable segment is----",value)

         Segment   Total_Spend  Total_Repayment        Profit
0  Self Employed  7.097548e+07     7.055129e+07 -4.241883e+05
1  Normal Salary  1.077071e+08     1.071089e+08 -5.982498e+05
2   Salaried_MNC  6.363949e+07     6.259740e+07 -1.042085e+06
3           Govt  6.732563e+07     6.517141e+07 -2.154222e+06
4   Salaried_Pvt  7.170431e+07     6.577945e+07 -5.924860e+06
the mose profitable segment is---- Self Employed

In [143]:
#In which category the customers are spending more money?
grouped=df_Spend.groupby(['Type'])['Amount'].sum().reset_index()
most_spend_category=grouped.sort_values(by='Amount',ascending=False).reset_index(drop=True)
most_spend_category
value=most_spend_category.loc[0,'Type']
print("the most spending Category is----",value)

the most spending Category is---- PETRO

In [153]:
#Impose an interest rate of 2.9% for each customer for any due amount.
merged_df = pd.merge(df_Spend, df_Repayment, on='Costomer', how='inner')
merged_df['Month_x'] = pd.to_datetime(merged_df['Month_x'], format='%d-%b-%y')
merged_df['monthly'] = merged_df['Month_x'].dt.month
merged_df['year'] = merged_df['Month_x'].dt.year

monthly_spend = merged_df.groupby(['Costomer', 'year', 'monthly'])['Amount_x'].sum().reset_index(name='monthly_spend')
monthly_repayment = merged_df.groupby(['Costomer', 'year', 'monthly'])['Amount_y'].sum().reset_index(name='monthly_repayment')

merged_monthly = pd.merge(monthly_spend, monthly_repayment, on=['Costomer', 'year', 'monthly'], how='inner')

merged_monthly['due_amount'] = merged_monthly['monthly_spend'] - merged_monthly['monthly_repayment']
merged_monthly['due_amount'] = merged_monthly['due_amount'].apply(lambda x: x if x > 0 else 0)
merged_monthly['interest'] = merged_monthly['due_amount'] * 0.029

print(merged_monthly[['Costomer', 'year', 'monthly', 'due_amount', 'interest']])

    Costomer  year  monthly    due_amount       interest
0         A1  2004        1  4.209483e+06  122075.004360
1         A1  2004        2  0.000000e+00       0.000000
2         A1  2004        5  0.000000e+00       0.000000
3         A1  2005        1  3.339330e+06   96840.574019
4         A1  2005        2  9.947724e+06  288483.988419
..       ...   ...      ...           ...            ...
802      A95  2004        1  2.727244e+05    7909.007232
803      A96  2004        1  2.102245e+05    6096.511125
804      A97  2004        1  0.000000e+00       0.000000
805      A98  2004        1  0.000000e+00       0.000000
806      A99  2004        1  1.174305e+05    3405.483407

[807 rows x 5 columns]

In [4]:
merged_df = df_Spend.merge(df_acquisition, left_on='Costomer', right_on='Costomer')
merged_df['monthly'] = pd.to_datetime(merged_df['Month']).dt.month

grouped = merged_df.groupby(['monthly', 'Limit'], as_index=False).agg(monthly_spend=('Amount', 'sum'))

grouped['bank_profit'] = grouped.apply(
    lambda row: row['Limit'] * 0.02 if row['monthly_spend'] > row['Limit'] else 0,
    axis=1
)

print(grouped)

    monthly   Limit  monthly_spend  bank_profit
0         1   10000   4.759426e+06       200.00
1         1   10001   3.517977e+06       200.02
2         1   10002   6.002265e+06       200.04
3         1  100000   8.166313e+06      2000.00
4         1  100001   5.125264e+06      2000.02
..      ...     ...            ...          ...
90       12  100000   5.156167e+05      2000.00
91       12  100001   7.276435e+05      2000.02
92       12  100002   7.156117e+05      2000.04
93       12  100003   1.873394e+05      2000.06
94       12  500000   2.701744e+06     10000.00

[95 rows x 4 columns]